$font-styles: (
    primary-heading: #{'Montserrat', sans-serif},
    secondary-content: #{-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif}
);

$colors: (
  primary-color: #1fbdb7,
  secondary-color: #f1f1f1,
  overlay-color: rgb(31, 32, 32),
  font-color: black,
);

$ipad: 1366px;
$tablet: 960px;
$mobile: 736px;

body{
    font-family: map-get($font-styles, secondary-content);
  }

  #under-construction{
    margin-top: 50px;
  }
  
  .contained{
    background-image: url(./joshua-aragon-1280300-unsplash.jpg);
    background-position: -45px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  
  .cover{
    height: 100vh;
    background-color: map-get($colors, overlay-color);
    opacity: 0.87;
  }
  
  .centered{
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

    h1{
      font-family: map-get($font-styles, primary-heading);
      font-weight: 800;
      line-height: 45px;
      color: map-get($colors, secondary-color);
    }

    h2{
      font-family: map-get($font-styles, primary-heading);
      font-weight: 800;
      line-height: 45px;
      color: map-get($colors, secondary-color);
    }
  }

  .centered-content{
    margin: 0 auto;
    width: 800px;
  }
  
  .centered-media{
    margin: 0 auto;
    width: 650px;
  }
  
  #openNav{
    font-size:30px;
    cursor:pointer;
    color: map-get($colors, secondary-color);
  }
  
  .sidenav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: map-get($colors, primary-color); 
    overflow-x: hidden; 
    transition: 0.5s;

    a {
      padding: 1px 2px 6px;
      text-decoration: none;
      font-size: 22px;
      color: map-get($colors, font-color);
      display: block;
      transition: 0.3s;
      text-align: center;
    }
    
    nav {
      display: block;
      text-align: center;
      position: absolute;
      height: 210px;
      top: 50%;
      margin-top: -120px;
      width: 100%;
    }
    
    a:hover {
      color: map-get($colors, secondary-color);
      font-size: 13px;
    }
    
    .logo {
      background: map-get($colors, secondary-color);
      display: block;

      img {
        display: block;
        margin: 0 auto;
        width: 45px;
        height: auto;
      }
    }
  }
  
  
  
  #topNav{
    display: none;
    height: 100%; 
    width: 0; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: map-get($colors, primary-color); 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
   
    nav {
      padding: 2px 8px 8px;
      text-decoration: none;
      font-size: 18px;
      color: map-get($colors, font-color);
      display: block;
      transition: 0.3s;
      text-align: center;
    }

    a:hover {
      color: map-get($colors, secondary-color);
      font-size: 16px;
    }
  }
  
  #main {
    transition: margin-left .5s;
    padding: 20px;
    position: absolute;
    z-index: 1;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 20px;
  }
  
  .scroll-info{
    position: fixed;
    background-color: map-get($colors, font-color);
    color: map-get($colors, secondary-color);
    border: 20px solid #333;
    border: 20px solid rgba(0,0,0,.7);
    border-radius: 8px;
    box-shadow: 0 3px 3px rgba(0,0,0,.3);
    width: 300px;
    bottom: 0;
    right: 0;
    margin-bottom: 20px;
    transform: scaleX(0);
    transform-origin: right;
  }
  
  ::-webkit-scrollbar {
    width: 7px;
    background: map-get($colors, font-color);
  }
  ::-webkit-scrollbar-thumb {
    background: map-get($colors, primary-color);
  }



  @media (max-width: $ipad){

    .scroll-info{
      display: none;
    }

  }


  @media (max-width: $tablet){
    #topNav{
      display: block;
      width: 100%;
      height: 50px;
      top: 0;
      left: 0;
      z-index: 1;

      nav a {
        float: left;
        margin-left: 14%;
        line-height: 60px;
        height: 60px;
        color: map-get($colors, font-color);
      }
    
      nav {
        width: 42%;
        position: absolute;
        left: 50%;
        margin-left: -19%;
        float: left;
        overflow: hidden;
        text-align: center;
        height: 60px;
        top: 0;
        margin-top: 0;
      }
  
    }

    .sidenav{
      display: none;
    }

    .logo {
      float: left;
      padding: 2px 0;
      margin-right: 10px;
      top: 0;
      position: absolute;
      background-color: map-get($colors, secondary-color);

      img {
        display: block;
        margin: 2px 10px 2px 8px;
        width: auto;
        height: 52px
      }
    }

    #openNav{
      display: none;
    }
  }

  @media (max-width: $mobile){

    .scroll-info{
      display: none;
    }
    
    .contained{
      background-image: url(./joshua-aragon-1280300-unsplash.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh;
    }
    
    .cover{
      height: 100vh;
      background-color: map-get($colors, overlay-color);
      opacity: 0.87;
    }
    
    .centered{
     text-align: center;
      h1{
        font-family: map-get($font-styles, primary-heading);
        font-size: 30px;
        font-weight: 800;
        line-height: 45px;
        color: map-get($colors, secondary-color);
      }
    }
  
    .centered-content{
      margin: 0 auto;
      width: auto;
    }
    
    .centered-media{
      margin: 0 auto;
      width: auto;

      img{
        display: none;
      }
    }

  }